/* Estilos globais */
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f0f0f0;
}

/* Estilo do cabeçalho */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Estilo da lista de navegação */
.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Estilo do menu para dispositivos menores */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

/* Esconder o menu em dispositivos móveis */
@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #333;
    }

    .nav-list li {
        text-align: center;
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list.active {
        display: flex;
    }
}

/* Estilo do banner e das imagens */
.banner img {
    width: 100%; /* Faz com que a imagem ocupe 100% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

/* Estilo do rodapé */
footer {
    background-color: #f8f8f7;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

/* Estilo responsivo para o carrossel */
.carousel-wrapper img {
    width: 100%; /* Faz com que a imagem ocupe 100% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.carousel-slide {
    display: none; /* Esconde todos os slides inicialmente */
}

.carousel-slide img {
    max-width: 100%; /* Limita a largura máxima das imagens no carrossel */
    height: auto; /* Mantém a proporção das imagens */
}

/* Media Queries */
@media (max-width: 1200px) {
    main {
        max-width: 1000px;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    nav-ul {
        flex-direction: column;
    }

    footer {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    nav ul li {
        margin: 10px 0; /* Espaçamento entre os links no menu */
    }

    footer {
        font-size: 14px;
    }
}
